body{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1200px;
    font-family: 'Times New Roman', Times, serif;
}

@media screen and (max-width: 767px) { /* styles for screens up to 767px wide */
    .body {
      display: block; /* display the container as a block element */
    }
    .column {
        width: 100%; /* set the column width to 100% for single-column layout */
        margin: 0; /* remove the margin between columns */
      }
}

@media screen and (min-width: 768px) and (max-width: 1199px) { /* styles for screens between 768px and 1199px wide */
    .column {
      width: 50%; /* set the column width to 50% for two-column layout */
      margin: 0 20px; /* add some margin between columns */
    }
  }

.footer-maintain{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    padding: 0;
    
}

.header{
    margin: 0;
    padding: 8px 0px;
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    height: 400px;
}
.header-top{
    display: flex;
    justify-content: center;
    gap: 500px;
    height: 60px;
}
.header-logo{
    width: 48px;
    height: 48px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.leftside-header, .rightside-header{
    display: flex;
    gap: 24px;
    height: 60px;
    align-items: center;
    width: 100%;
}

.leftside-header{
    box-sizing: border-box;
    padding: 0 100px;
}


.logo-text, .footer{
    color: #F9FAF8;
    font-size: 24px;
}

a{
    text-decoration: none;
    color:  #E5E7EB;
    font-size: 18px;
}
.main-container{
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    background-color: #1F2937;
}
.main-container-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 300px;
    gap: 32px;
    margin: 0;
    padding: 0;
}
.main-container-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 300px;
    margin: 0;
    padding: 0;
}
.main-text{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.sub-text{
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
    padding: 0;
}
button{
    background-color: #3882F6;  
    padding: 10px;
    color: #f3f4f7;
    border-radius: 5px;
}

.main-image{
    margin: 0;
    width: 450px;
    height: 220px; 
}
.random-info-container{
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;       
}

.random-text{
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
}

.random-images{
    display: flex;
    gap: 12px;
}


.random-image1{
    width: 250px;
    height: 250px;
    border: 5px dashed #3882F6;
}

.random-subtext{
    width: 250px;
    height: auto;
    margin-top: 8px;
}

.quotes-container{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    justify-content: center;
    height: 400px;
    gap: 32px;    
    
}
.quote{
    color: #1F2937;
    width: 800px;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    align-self: center;
}
.quoted-by{
    font-weight: 600;
    margin-left: 66%;
}
.action-main-container{
    height: 200px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.action-container{
    width: 100%;
    height: 100px;
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}

.action-call{
    font-size: 24px;
    color: #e5e7eb;
}
.signup-call{
    color: #48494a;
}

.footer{
    display: flex;
    justify-content: space-around;
    margin: 0;
    gap: 48px;
    padding: 8px 48px;
    background-color: #1F2937;
}

