body{
    background-color: white;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

}
.header-logo{

    width: 48px;
    height: 48px;
}
.header, .footer{
    display: flex;
    justify-content: space-around;
    margin: 0;
    gap: 48px;
    padding: 8px 48px;
    background-color: #1F2937;
}
.leftside-header, .rightside-header{
    display: flex;
    list-style: none;
    gap: 24px;
}



.logo-text, .footer{
    color: #F9FAF8;
    font-size: 24px;
    
}

a{
    text-decoration: none;
    color:  #E5E7EB;
    font-size: 18px;
}

button{
    background-color: #3882F6;
}

.main-text{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}
.main-container{
    display: flex;
    justify-content: space-around;
    margin: 0;
    gap: 48px;
    padding: 8px 48px;
    background-color: #1F2937;
   
}
.main-container-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-image{
    width: 400px;
    height: 250px;
}
.random-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random-images{
    display: flex;
}

.random-image1{
    width: 100px;
    height: 100px;
}
.quotes-container{
    display: flex;
    background-color: #e5e7eb;
    justify-content: space-between;
    height: 100px;
    
}
.action-container{
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    height: 200px;
    align-items: center;
    
}

